.toggle-button-container {
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.toggle-page-button {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  margin: 0;
  user-select: none;
  padding: 0.1em 0.5em;
  cursor: pointer;
}

h1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.graph-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-evenly;
  border: 2px solid black;
  min-height: 50vh;
}

@media (max-width: 900px) {
  .graph-container {
    display: flex;
    flex-direction: column;
  }
}

.save-import-buttons {
  display: grid;
  place-items: center;
  width: 25%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}



button {
  cursor: pointer;
}

.toggle-div {
  margin-top: 2em;
  margin-bottom: 2em;
}

.player-tab {
  display: flex;
  justify-content: center;
}