.player-object {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
}
  
.name-input {
    font-size: 2rem;
    width: 60%;
    margin-right: 3%;
    text-align: center;
    border-style: none;
    border-radius: .5em;
    background-color: #7a7e7a8f;
    margin-left: 10%;
}

.build-container {
    display: flex;
    flex-direction: row;
    width: 75%;
}
  
.build-instruction {
    width: 150%;
    margin-right: .25em;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}
  
.add-button {
    width: 75%;
    height: 75%;
    background-color: #dee7de8f;
}
  
.add-button:active {
    width: 50%;
    height: 50%;
    background-color: #6f746f8f;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
}

.house-icon {
    width: 2.5em;
    height: 2.5em;
    grid-column-start: 1;
    grid-column-end: 2;
}
  
.house-icon:active {
    background-color: #83868351;
}
  
.resource-icon {
    width: 2.5em;
    height: 2.5em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index: 1;
}
  
.resource-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
  
.build-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: auto;
    padding-right: 1em;
}
  
.show-die {
    z-index: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    place-self: center;
    text-align: center;
    user-select: none;
    font-weight: bold;
}