.die-container {
  display: grid;
  grid-template: auto auto / repeat(6, 1fr);
  margin: auto;
  width: 50%;
}

.die-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 5%;
}

.die-value {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  outline: 0;
}

.minus-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  z-index: 2;
  background-color: #dd8f8f;
  opacity: .5;
}

.minus-button:hover {
  opacity: .75;
}

.minus-button:active {
  opacity: 1;
}

.plus-button {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  z-index: 2;
  background-color: #91bd84;
  opacity: .5;
}

.plus-button:hover {
  opacity: .75;
}

.plus-button:active {
  opacity: 1;
}

.player-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.player-object {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
}

.name-input {
  font-size: 2rem;
  width: 60%;
  margin-right: 3%;
  text-align: center;
  border-style: none;
  border-radius: .5em;
  background-color: #7a7e7a8f;
  margin-left: 10%;
}

.build-container {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.build-instruction {
  width: 150%;
  margin-right: .25em;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.add-button {
  width: 75%;
  height: 75%;
  background-color: #dee7de8f;
}

.add-button:active {
  width: 50%;
  height: 50%;
  background-color: #6f746f8f;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
}

ul {
  list-style: none;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: -1.75em;
  padding-right: .5em;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #83868351;
  border-style: none;
  border-radius: 2em;
}

.house-icon {
  width: 2.5em;
  height: 2.5em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.house-icon:active {
  background-color: #83868351;
}

.resource-icon {
  width: 2.5em;
  height: 2.5em;
}

.build-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-left: .5em;
}